weatherpi.json
[
    {
        "id": "61c2c070.b79548",
        "type": "tab",
        "label": "WeatherPi",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7642f589.839ecc",
        "type": "homekit-service",
        "z": "61c2c070.b79548",
        "bridge": "48282a95.9aa77c",
        "name": "Temperature Birdhouse",
        "serviceName": "TemperatureSensor",
        "manufacturer": "Rose53",
        "model": "BME280",
        "serialNo": "Default Serial Number",
        "characteristicProperties": "{}",
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "3ec0ca0d.43ef3e"
            ]
        ]
    },
    {
        "id": "849508f.a1a06f8",
        "type": "websocket in",
        "z": "61c2c070.b79548",
        "name": "WeatherPi",
        "server": "",
        "client": "83ad8321.e1ff",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "42f6679d.2872e"
            ]
        ]
    },
    {
        "id": "42f6679d.2872e",
        "type": "json",
        "z": "61c2c070.b79548",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "b6f79a0e.22d3a"
            ]
        ]
    },
    {
        "id": "8dafd216.8f2338",
        "type": "switch",
        "z": "61c2c070.b79548",
        "name": "place",
        "property": "payload.place",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "BIRDHOUSE",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ANEMOMETER",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "DUSTSENSOR",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "f0efd85d.6648b"
            ],
            [],
            [
                "511fe987.a629c"
            ]
        ]
    },
    {
        "id": "f0efd85d.6648b",
        "type": "switch",
        "z": "61c2c070.b79548",
        "name": "birdhouse sensor",
        "property": "payload.sensor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "BME280",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TSL2591",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "DHT22",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "ee87b5b5.2c57e8"
            ],
            [
                "87abcda8.aa9df"
            ],
            [
                "32cf15f9.f544ea"
            ]
        ]
    },
    {
        "id": "ee87b5b5.2c57e8",
        "type": "switch",
        "z": "61c2c070.b79548",
        "name": "sensor data",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "TEMPERATURE",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "HUMIDITY",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PRESSURE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "2c50db98.69b0ec"
            ],
            [
                "c55d77d5.23a76"
            ],
            []
        ]
    },
    {
        "id": "2c50db98.69b0ec",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.temperature",
                "pt": "msg",
                "to": "payload.CurrentTemperature",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.sensor",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.type",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.place",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "7642f589.839ecc"
            ]
        ]
    },
    {
        "id": "c55d77d5.23a76",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.humidity",
                "pt": "msg",
                "to": "payload.CurrentRelativeHumidity",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.sensor",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.type",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.place",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 140,
        "wires": [
            [
                "87ec2281.8884a8"
            ]
        ]
    },
    {
        "id": "87ec2281.8884a8",
        "type": "homekit-service",
        "z": "61c2c070.b79548",
        "bridge": "48282a95.9aa77c",
        "name": "Humidity Birdhouse",
        "serviceName": "HumiditySensor",
        "manufacturer": "Rose53",
        "model": "BME280",
        "serialNo": "Default Serial Number",
        "characteristicProperties": "{}",
        "x": 1090,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8f833f93.7cf838",
        "type": "homekit-service",
        "z": "61c2c070.b79548",
        "bridge": "6db576f4.9fa0a",
        "name": "PM10 Dustsensor",
        "serviceName": "AirQualitySensor",
        "manufacturer": "Rose53",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "characteristicProperties": "{}",
        "x": 950,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "336b63d4.3e53dc",
        "type": "switch",
        "z": "61c2c070.b79548",
        "name": "dust sensor",
        "property": "payload.sensor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "SDS011",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "DHT22",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "94520610.b706b8"
            ],
            [
                "341c8868.04f0d8"
            ]
        ]
    },
    {
        "id": "94520610.b706b8",
        "type": "switch",
        "z": "61c2c070.b79548",
        "name": "sensor data",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "DUST_PM10",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "DUST_PM25",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "2e48efb9.994a88"
            ],
            [
                "c7cf1208.a7394"
            ]
        ]
    },
    {
        "id": "2e48efb9.994a88",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.pm10",
                "pt": "msg",
                "to": "payload.PM10Density",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.sensor",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.type",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "9448d86b.c03498"
            ]
        ]
    },
    {
        "id": "341c8868.04f0d8",
        "type": "switch",
        "z": "61c2c070.b79548",
        "name": "sensor data",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "TEMPERATURE",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "HUMIDITY",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "4b6268b0.6f5bd"
            ],
            [
                "dde9d439.56b57"
            ]
        ]
    },
    {
        "id": "9448d86b.c03498",
        "type": "function",
        "z": "61c2c070.b79548",
        "name": "PM10 AirQuality",
        "func": "// calculate the AirQuality \nmsg.payload.AirQuality = 0;  // unknown\n\nif (msg.payload.PM10Density < 12) {\n    msg.payload.AirQuality = 1; // excellent\n} else if (msg.payload.PM10Density < 26) {\n    msg.payload.AirQuality = 2; // good\n} else if (msg.payload.PM10Density < 40) {\n    msg.payload.AirQuality = 3; // fair\n} else if (msg.payload.PM10Density < 75) {\n    msg.payload.AirQuality = 4; // inferior\n} else {\n    msg.payload.AirQuality = 5; // poor\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "8f833f93.7cf838"
            ]
        ]
    },
    {
        "id": "543d74c3.881c6c",
        "type": "homekit-service",
        "z": "61c2c070.b79548",
        "bridge": "6db576f4.9fa0a",
        "name": "PM25 Dustsensor",
        "serviceName": "AirQualitySensor",
        "manufacturer": "Rose53",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "characteristicProperties": "{}",
        "x": 1150,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b6f79a0e.22d3a",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "remove time",
        "rules": [
            {
                "t": "delete",
                "p": "payload.time",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "8dafd216.8f2338"
            ]
        ]
    },
    {
        "id": "c7cf1208.a7394",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.pm25",
                "pt": "msg",
                "to": "payload.PM2_5Density",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.sensor",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.type",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 460,
        "wires": [
            [
                "701e1e08.96726"
            ]
        ]
    },
    {
        "id": "701e1e08.96726",
        "type": "function",
        "z": "61c2c070.b79548",
        "name": "PM25 AirQuality",
        "func": "\n// calculate the AirQuality \nmsg.payload.AirQuality = 0;  // unknown\n\nif (msg.payload.PM2_5Density < 8.5) {\n    msg.payload.AirQuality = 1; // excellent\n} else if (msg.payload.PM2_5Density < 20) {\n    msg.payload.AirQuality = 2; // good\n} else if (msg.payload.PM2_5Density < 28) {\n    msg.payload.AirQuality = 3; // fair\n} else if (msg.payload.PM2_5Density < 50) {\n    msg.payload.AirQuality = 4; // inferior\n} else {\n    msg.payload.AirQuality = 5; // poor\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 460,
        "wires": [
            [
                "14de922b.8939be"
            ]
        ]
    },
    {
        "id": "511fe987.a629c",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "remove place",
        "rules": [
            {
                "t": "delete",
                "p": "payload.place",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "336b63d4.3e53dc"
            ]
        ]
    },
    {
        "id": "4b6268b0.6f5bd",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.temperature",
                "pt": "msg",
                "to": "payload.CurrentTemperature",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.sensor",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.type",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 540,
        "wires": [
            [
                "7e5774e9.2b3064"
            ]
        ]
    },
    {
        "id": "7e5774e9.2b3064",
        "type": "homekit-service",
        "z": "61c2c070.b79548",
        "bridge": "df7b0f9c.c05108",
        "name": "Temperature Dustsensor",
        "serviceName": "TemperatureSensor",
        "manufacturer": "Rose53",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "characteristicProperties": "{}",
        "x": 770,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "307df9e5.7eb10e",
        "type": "homekit-service",
        "z": "61c2c070.b79548",
        "bridge": "df7b0f9c.c05108",
        "name": "Humidity Dustsensor",
        "serviceName": "HumiditySensor",
        "manufacturer": "Rose53",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "characteristicProperties": "{}",
        "x": 760,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "dde9d439.56b57",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.humidity",
                "pt": "msg",
                "to": "payload.CurrentRelativeHumidity",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.sensor",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.type",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 620,
        "wires": [
            [
                "307df9e5.7eb10e"
            ]
        ]
    },
    {
        "id": "14de922b.8939be",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "delete pm25 density",
        "rules": [
            {
                "t": "delete",
                "p": "payload.PM2_5Density",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 460,
        "wires": [
            [
                "543d74c3.881c6c"
            ]
        ]
    },
    {
        "id": "87abcda8.aa9df",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.illuminance",
                "pt": "msg",
                "to": "payload.CurrentAmbientLightLevel",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.sensor",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.type",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.place",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.StatusFault",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.StatusActive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "33822e80.4dcd8a"
            ]
        ]
    },
    {
        "id": "33822e80.4dcd8a",
        "type": "homekit-service",
        "z": "61c2c070.b79548",
        "bridge": "48282a95.9aa77c",
        "name": "Light Birdhouse",
        "serviceName": "LightSensor",
        "manufacturer": "Rose53",
        "model": "TSL2591",
        "serialNo": "Default Serial Number",
        "characteristicProperties": "{}",
        "x": 1080,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2a13d956.cae2c6",
        "type": "mqtt in",
        "z": "61c2c070.b79548",
        "name": "SensorTest",
        "topic": "sensordata/test/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "96ba6c8.0287b1",
        "x": 90,
        "y": 780,
        "wires": [
            [
                "2c227a1a.2ca06e"
            ]
        ]
    },
    {
        "id": "2c227a1a.2ca06e",
        "type": "json",
        "z": "61c2c070.b79548",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 780,
        "wires": [
            [
                "b88cda62.e20358"
            ]
        ]
    },
    {
        "id": "b88cda62.e20358",
        "type": "function",
        "z": "61c2c070.b79548",
        "name": "Check TSL error",
        "func": "if (   msg.payload.place.indexOf('BIRDHOUSE') !== -1 && msg.payload.error.indexOf('TSL2591') !== -1 ) {\n    msg.payload.CurrentAmbientLightLevel = 0;\n    msg.payload.StatusFault = true;\n    msg.payload.StatusActive = false;\n    delete msg.payload.place;\n    delete msg.payload.error;\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 780,
        "wires": [
            [
                "33822e80.4dcd8a"
            ]
        ]
    },
    {
        "id": "d4c2f1b5.67b56",
        "type": "switch",
        "z": "61c2c070.b79548",
        "name": "sensor data",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "TEMPERATURE",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "HUMIDITY",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 280,
        "wires": [
            [
                "21ea78ac.ecc358"
            ],
            [
                "b5d8d00.d2a243"
            ]
        ]
    },
    {
        "id": "32cf15f9.f544ea",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.sensor",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.type",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.place",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "d4c2f1b5.67b56"
            ]
        ]
    },
    {
        "id": "21ea78ac.ecc358",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "temp",
        "rules": [
            {
                "t": "move",
                "p": "payload.temperature",
                "pt": "msg",
                "to": "payload.CurrentTemperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 260,
        "wires": [
            [
                "d79dbd24.68965"
            ]
        ]
    },
    {
        "id": "b5d8d00.d2a243",
        "type": "change",
        "z": "61c2c070.b79548",
        "name": "hum",
        "rules": [
            {
                "t": "move",
                "p": "payload.humidity",
                "pt": "msg",
                "to": "payload.CurrentRelativeHumidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "2a51f29d.efcc3e"
            ]
        ]
    },
    {
        "id": "d79dbd24.68965",
        "type": "homekit-service",
        "z": "61c2c070.b79548",
        "bridge": "48282a95.9aa77c",
        "name": "Temperature Birdhouse DHT22",
        "serviceName": "TemperatureSensor",
        "manufacturer": "Rose53",
        "model": "DHT22",
        "serialNo": "Default Serial Number",
        "characteristicProperties": "{}",
        "x": 1250,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2a51f29d.efcc3e",
        "type": "homekit-service",
        "z": "61c2c070.b79548",
        "bridge": "48282a95.9aa77c",
        "name": "Humidity Birdhouse DHT22",
        "serviceName": "HumiditySensor",
        "manufacturer": "Rose53",
        "model": "DHT22",
        "serialNo": "Default Serial Number",
        "characteristicProperties": "{}",
        "x": 1240,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3ec0ca0d.43ef3e",
        "type": "debug",
        "z": "61c2c070.b79548",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1320,
        "y": 100,
        "wires": []
    },
    {
        "id": "48282a95.9aa77c",
        "type": "homekit-bridge",
        "z": "",
        "bridgeName": "Birdhouse",
        "pinCode": "314-20-001",
        "port": "",
        "manufacturer": "Rose53",
        "model": "Default Model",
        "serialNo": "Default Serial Number"
    },
    {
        "id": "83ad8321.e1ff",
        "type": "websocket-client",
        "z": "",
        "path": "ws://192.168.0.42:8080/weatherpi/sensorevents",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "6db576f4.9fa0a",
        "type": "homekit-bridge",
        "z": "",
        "bridgeName": "Dustsensor SDS",
        "pinCode": "314-20-007",
        "port": "",
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number"
    },
    {
        "id": "df7b0f9c.c05108",
        "type": "homekit-bridge",
        "z": "",
        "bridgeName": "Dustsensor DHT",
        "pinCode": "314-20-008",
        "port": "",
        "manufacturer": "Rose53",
        "model": "Default Model",
        "serialNo": "Default Serial Number"
    },
    {
        "id": "96ba6c8.0287b1",
        "type": "mqtt-broker",
        "z": "",
        "name": "WeatherPi",
        "broker": "192.168.0.42",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
